@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');

#header {
    background: linear-gradient(to bottom right, lightcoral, lightpink);
    padding: 8px;
    height: 120px;
    font-size: 80px;
    text-align: center;

    position: sticky;
    top:0;
    color: darkmagenta;
    font-family: 'Black Han Sans', sans-serif;
    text-shadow: 2px 2px 2px gray;
}

#footer {
    background-color: whitesmoke;
    padding: 8px;
    height: 40px;
    font-size: 30px;
    text-align: center;

    position: fixed;
    bottom:0;
    width: 100%;
}

body {
    margin: 0;
}

p {
    margin:15px;
}

#message {
    display: block;
    font-size: 70px;
    margin: auto;
    
    width:80%;
    text-align: center;

    
    font-family: 'Cute Font', cursive;
}

#button {
    padding: 20px 20px 5px 20px;
    text-align: center;
}

#ad {
    display:box;
    margin:auto;
    text-align: center;
    padding-bottom: 60px;
}
